/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); */

.error-text {
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
}

.errror {
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
}

.sidebar {
    height: 100%;
    padding-top: 10px;
    position: sticky;
    left: 0;
    padding-left: 10px;
    font-weight: bolder;
}

.content {
    padding: 5px, 5px, 5px, 5px;
    margin-top: 6px;
    border-radius: 20px;
}

li {
    list-style: none;
}

.nav-item {
    margin-block: 20px;
}

.header-main {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.myrow {
    display: inline-flex;
    margin-inline-end: 10px;
}

.counts {
    display: inline-flex;
    margin: 16px;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
}

.scrollTb {
    position: absolute;
    overflow: scroll;
    max-height: 500px;
    width: 100%;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.min-header {
    margin-right: 10px;
    margin-left: 10px;
    margin: 0 auto;
}

.offcanvas-body a {
    text-decoration: none;
}
